html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #eb8a3b; */
}

html {
  /* scrollbar-gutter: stable; */
}

video {
  height: 100%;
}

/* 
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #adadad00;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d7a;
  border-radius: 25px;
} */
